In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
prod_info = pd.read_csv('../data/interim/train_product_info.csv')

In [3]:
prod_info.head()

   product_id  num_imgs  offset  length  category_id
0           0         1       0    6979   1000010653
1           1         1    6979    7318   1000010653
2           2         1   14297    5455   1000004079
3           3         1   19752    4580   1000004141
4           4         1   24332    6346   1000015539

In [4]:
categories = prod_info.category_id.sample(10, random_state=123).as_matrix()

In [5]:
max_index = np.max(prod_info.index.values)

In [6]:
prod_info = prod_info[prod_info.category_id.isin(categories)]

In [7]:
prod_info.shape

(212367, 5)

In [8]:
def dist_check(x):
    return ss.kstest(x.index.values, 'uniform', args=(0,max_index))

In [9]:
prod_info.groupby('category_id').offset.agg(dist_check)

category_id
1000003796    (0.0585434648794, 6.62093945672e-133)
1000005890     (0.0282060871844, 0.000225859584689)
1000009368        (0.0556134773972, 0.690667941194)
1000010722                      (0.2076794447, 0.0)
1000011345     (0.0518859397384, 4.02373456585e-05)
1000012993                    (0.212172712988, 0.0)
1000013645         (0.122406384056, 0.116693063939)
1000014217      (0.0255374263699, 2.0049038596e-11)
1000018294      (0.0219118239728, 1.6525548444e-24)
Name: offset, dtype: object

In [85]:
prod_info_shuffled = prod_info.reindex(np.random.permutation(prod_info.index))

In [88]:
prod_info_shuffled.reset_index(inplace=True, drop=True)
prod_info_shuffled.head()

   product_id  num_imgs       offset  length  category_id
0    18534597         2  50143773053    8313   1000014217
1     2234391         1   7226758382    5642   1000010722
2    17857665         1  48480651683    5456   1000018294
3    19248064         1  51904004751    7465   1000014217
4     5783542         1  15554491425    6956   1000018294

In [91]:
max_index = np.max(prod_info_shuffled.index.values)

In [92]:
def dist_check(x):
    return ss.kstest(x.index.values, 'uniform', args=(0,max_index))

In [93]:
prod_info_shuffled.groupby('category_id').offset.agg(dist_check)

category_id
1000003796     (0.0029641280778, 0.829121438545)
1000005890     (0.0107517857166, 0.523791313126)
1000009368     (0.0644712714092, 0.482267109646)
1000010722     (0.00406073851587, 0.53500273456)
1000011345     (0.0201039563847, 0.393696555104)
1000012993    (0.00389849966882, 0.524969145571)
1000013645      (0.070996176003, 0.755455088588)
1000014217    (0.0101867510116, 0.0355555653105)
1000018294     (0.00226298289825, 0.92889410781)
Name: offset, dtype: object

In [61]:
ss.kstest(np.random.uniform(0, 0.5, 10000), 'uniform', args=(0,1))

KstestResult(statistic=0.50000544788818035, pvalue=0.0)

In [28]:
np.random.uniform(100)

77.10547314768715

In [60]:
ss.kstest(np.random.normal(0.5, 0.1, 10000), 'uniform', args=(0,10))

KstestResult(statistic=0.92043693500882817, pvalue=0.0)